<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/233bec73-4dd2-4aa9-afe6-133ea7e7cf2f/resourceGroups/Lucas-Guilherme_group/providers/Microsoft.Web/sites/ProjectFaculMvc20211207211231</ResourceId>
    <ResourceGroup>Lucas-Guilherme_group</ResourceGroup>
    <ApiResourceId>/subscriptions/233bec73-4dd2-4aa9-afe6-133ea7e7cf2f/resourceGroups/Lucas-Guilherme_group/providers/Microsoft.ApiManagement/service/BackendAPIFTEC/apis/ProjectFaculProjetoWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectfaculbackend20211207211231.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>3a3cc2ae-dd38-4aa9-ba89-1ab172e8b1db</ProjectGuid>
    <MSDeployServiceURL>projectfaculmvc20211207211231.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProjectFaculBackend20211207211231</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ProjectFaculMvc20211207211231</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>